fastapi
uvicorn[standard]
python-multipart
python-dotenv
duckdb
scikit-learn
google-generativeai
requests
beautifulsoup4
pandas
matplotlib
seaborn
lxml
html5lib
pyarrow
networkx
pydantic    
scipy
pillow
